.box{
    width: 93%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    /* flex-direction: column; */
    padding: 50px;
    /* margin: 100px; */
    background-color: gray;
}
img{
    width: 500px;
    height: 500px;  
}
.box1{
    font-size: 20px;
    box-shadow: 5px 10px 5px rgb(214, 213, 213);
    border-radius: 10px;
    padding: 2px;
}